*{margin: 0; padding: 0; box-sizing: border-box;
font-family: 'Josefin Sans', sans-serif;}

.carousel-inner img {
   width: 100%;
   height: 91vh;
 }

.abotmg{
  width: 100%;
  height: 285px;
}

.card-img-top{
  width: 100%;
  height: 50vh;
  object-fit: cover;
}
